@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  width: 100%;
  height: min-content;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #da7422;
}

::-webkit-scrollbar-track {
  background-color: rgba(237, 240, 242, 0.5);
  border-radius: 5px;
}

::-webkit-scrollbar {
  width: 4px;
  background-color: rgb(240, 240, 240);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(190, 190, 190);
  border-radius: 5px;
}

.intro-background-color {
  /* background: linear-gradient(45deg, #F4E9CD 0%, #9BC1BC 100%);
   */
  background: #F4E9CD;
}

.linkedin-background-img {
  background-image: url('../icons/pattern.png');
}

.honors-background-img {
  background-image: url('../icons/scribbles.png');
  background-repeat: no-repeat !important;
  background-position: center;
}

.dark-mode-logo {
  filter: invert(0%) sepia(0%) saturate(14%) hue-rotate(294deg) brightness(98%) contrast(105%) !important;
}